<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <form>
        APLICAÇÃO TESTE<br>
        <label for="cliente">Cliente</label>
        <input type="text" id="cliente" maxlength="1000" size="100px"></input><br>

        <label for="pedido">Pedido</label>
        <input type="text" id="pedido"> </input>

        <label for="data">   Data</label>
        <input type="date" id="data"> </input>

        <label for="preco" size="20px">   Preço</label>
        <input type="text" id="preco">  </input><br>

        <table>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>caneta</td>
                <td>5</td>
                <td>1</td>
            </tr>
        </table>

        <input type="button" value="CARREGAR XML">

        <input type="submit" value="GERAR ARQUIVO">
        <input type="button" value="PRÓXIMO REGISTRO"
    </form>

</body>
</html>